Package: com.nosskirneh.cdc
Name: SpotifyCancelDoesCancel
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Cancel automatically closes "Add to playlist" view
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
